html {
  font-family: "Roboto";
  font-size: 12px !important;
}
.container {
    width: 100% !important;
    padding: 30px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    max-width:100% !important;
}

.custom-container{
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
}
.customTopNav {
    text-decoration: none !important;
    color: #000 !important;
  }
  .app--toolbar {
    box-shadow: 0px 0px !important;
  }
  
  .pop-user-top{
    background: #fff;
    padding: 23px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .pop-user-button{
    border: solid 2px #8080804f;
      padding: 5px;
      padding-left: 24px;
      padding-right: 24px;
      border-radius: 20px !important;
  }
  .pop-user-font{
    font-weight: 600px !important;
  }
  .custom-card-user{ 
    box-shadow: 0px 0px !important;
    border-radius: 10px;
    padding: 15px;
    height: 100%;
  }
  
  .border-grey{
  border: solid 2px rgba(0, 0, 0, 0.151) !important;
  }
  .leftmenu{
    background-color: rgb(227, 227, 236);
    color:black;
    border-radius: 0px 0px 0px 0px !important;
    padding:0px 30px 0px 10px !important;
  }
  .banner{
    /* border: solid 1px blue; */
  }
  .content{
    margin-left:0px; 
    /* border: solid 1px rgb(46, 46, 54); */
    padding-left: 10px;
  }
  .bloc-text,.bloc-image{
  /* border: solid 1px rgb(255, 94, 0); */
  }
  .card-title{
      font-weight: 400;
      margin-bottom: 14px;
      color:black;
  }
  .banner-title{
      font-size: 40px;
      font-weight: 500;
      line-height: 1.3;
      color: black;
  }
  .card-chiffre{
      font-size: 38px !important;
      color: #06c806;
      font-weight: 300;
      padding-left: 8px;
  }
  .border-user,.border-activite,.border-module,.border-montantpayement,.border-tickethelpdesk{
  border: solid 2px rgba(0, 0, 0, 0.151) !important;
  }
  .border-user:hover{
  border: solid 2px #00ac47 !important;
  }
  .border-activite:hover{
    border: solid 2px #ffba00 !important;
  }
  .border-module:hover{
    border: solid 2px #007cf6 !important;
  }
  .border-montantpayement:hover{
    border: solid 2px #585095 !important;
  }
  .border-tickethelpdesk:hover{
    border: solid 2px #fe2b25 !important;
  }
  .banner{
    width:100% !important;
  }
  .custom-card-body{
    min-height: 80%;
  }
  .text-yellow{
    color:#ffba00;
  }
  .text-blue{
    color:#007cf6;
  }
  .text-violet{
    color:#585095;
  }
  .text-red{
    color:#fe2b25;
  }
  .text-white{
    color: #fff !important;
  }
  .text-normal{
  text-transform: none !important;
}
.full-height{
    height: 100vh !important;
}
.border-bottom-solid {
    border-bottom: solid 1px #80808047 !important;
}
.border-top-none{
  border-top: none !important;
}
.font-small{
  font-size: 12px !important;
  text-transform: none !important;
}
.v-data-footer__select .v-select {
    flex: 0 1 0;
    padding: 0;
    position: static;
    position: initial;
    margin: 0px !important;
}
.info-profil {
  font-size: 12px;
}

.info-profil span {
  font-weight: 600;
}
.border-left{
  border-left: solid 2px rgb(0 0 0 / 4%) !important;
}
.custom-font{
  font-size: 20px !important;
  font-weight: 500px !important;
  line-height: 24px;
}
.v-application .caption {
  font-size: 10px !important;
}
.v-application{
  font-family: 'Roboto' !important;
}
.v-application p {
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 26px;
}
.v-list-item__title {
  align-self: center;
  font-size: 12px !important;
}
/* .v-toolbar__content{
  height: 67px;
  box-shadow: 0px -24px 22px 6px !important;
} */
.custom-v-list-action{
  min-height: 25px !important;
}
.v-data-table > .v-data-table__wrapper > table > tbody > tr > th, .v-data-table > .v-data-table__wrapper > table > thead > tr > th, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
  font-size: 12px !important;
  height: 48px;
}
.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td {
  font-size: 12px !important;
  height: 48px;
}
.v-tab {
  font-size: 12px !important;
}
.align-right-pagination {
  display: flex;
  justify-content: end;
}
.bg-title {
  background-color: rgb(227, 235, 243) !important;
  color: #6F96AA;
  padding: 60px;
  padding-top: 30px;
}
.v-breadcrumbs__item {
  align-items: center;
  display: inline-flex;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.bg-title-grey {
  color:rgba(0, 0, 0, 0.87) !important;
}
.full-height{

}
.custom-title-h2{
  padding: 10px;
  color: #fff;
}
.v-navigation-drawer--fixed {
  position: fixed;
  /* border-right: solid #00173F !important; */
}
.v-application .success {
  background-color: #155a43 !important;
  border-color: #155a43 !important;
}
.height-100{
  height: 100vh;
}
.v-navigation-drawer__border {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: #fff !important;
}
.v-stepper {
  background: none !important;
}
.v-stepper__content {
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px rgba(128, 128, 128, 0.938);
}
.v-stepper__header {
  height: 96px !important;
  border-radius: 10px;
  border: solid 1px grey;
}
.v-stepper__wrapper {
  overflow: hidden;
  transition: none;
  padding: 20px;
}